/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	vertical-align: middle;
	border: 0;
	outline: 0;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */

ins {
	text-decoration: none;
	color: #000;
	background-color: #ff9;
}

/* change colours to suit your needs */

mark {
	font-weight: bold;
	font-style: italic;
	color: #000;
	background-color: #ff9;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

input,
select {
	vertical-align: middle;
}

.font_midashi-go,
.section .section_name,
.section_concept .section_title,
.section_eventschedule .toggle_block .label_block .column2 .label_subtitle,
.section_eventschedule .toggle_block .detail_block .info_block dd .txt,
.section_eventschedule .toggle_block1 .detail_block .content_block .txt_left,
.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right .bold,
.section_eventschedule .toggle_block2 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block3 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block4 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block5 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block2 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block3 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block4 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block5 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .txt,
.section_ourteam li,
.section_access .info .info_address,
.section.section_contact .section_title,
.section.section_forpress .section_title,
.section.section_contact li .li_title,
.section.section_forpress li .li_title,
#modal-area .txt-block .name {
	font-family: 'a-otf-midashi-go-mb31-pr6n',sans-serif;
	font-weight: 600;
	font-style: normal;
}

.font_gothic,
.section_concept .section_desc,
.section_eventschedule .toggle_block .detail_block .info_block dd .subtxt,
.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right,
.section_information dl,
.section_ourteam .sub_txt,
.section.section_contact li .li_desc,
.section.section_forpress li .li_desc,
#modal-area .txt-block {
	font-family: 'a-otf-gothic-bbb-pr6n',sans-serif;
	font-weight: 400;
	font-style: normal;
}

.font_acumin-reg,
.section_eventschedule .toggle_block .detail_block .info_block dt,
.footer .copy {
	font-family: 'acumin-pro',sans-serif;
	font-weight: 300;
	font-style: normal;
}

.font_acumin-bold,
.section_eventschedule .toggle_block .label_block .column1 .label_title,
.section_eventschedule .toggle_block .label_block .column1 .label_info,
.section_eventschedule .toggle_block .detail_block .info_block .detail_title,
.section_access .info .info_title {
	font-family: 'acumin-pro',sans-serif;
	font-weight: 700;
	font-style: normal;
}

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
	display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: auto;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
	display: inline-block;
	height: 100%;
	margin-left: -.05em;
	content: '';
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
	position: relative;
	outline: none;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.remodal-is-initialized { /* Disable Anti-FOUC */
	display: inline-block;
}

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
	 Remodal's default mobile first theme
	 ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
	background: rgba(0, 0, 0, .8);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
	-webkit-animation-name: remodal-overlay-opening-keyframes;
	-moz-animation-name: remodal-overlay-opening-keyframes;
	-o-animation-name: remodal-overlay-opening-keyframes;
	animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
	-webkit-animation-name: remodal-overlay-closing-keyframes;
	-moz-animation-name: remodal-overlay-closing-keyframes;
	-o-animation-name: remodal-overlay-closing-keyframes;
	animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
	min-width: 770px;
	padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 60px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	color: #2b2e38;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
	-webkit-animation-name: remodal-opening-keyframes;
	-moz-animation-name: remodal-opening-keyframes;
	-o-animation-name: remodal-opening-keyframes;
	animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
	-webkit-animation-name: remodal-closing-keyframes;
	-moz-animation-name: remodal-closing-keyframes;
	-o-animation-name: remodal-closing-keyframes;
	animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
	vertical-align: middle;
}

/* Close button */

.remodal-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	overflow: visible;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	text-decoration: none;
	color: #95979c;
	border: 0;
	outline: 0;
	background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
	color: #2b2e38;
}

.remodal-close:before {
	font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
	font-size: 25px;
	line-height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 35px;
	content: '\00d7';
	text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
	font: inherit;
	display: inline-block;
	overflow: visible;
	min-width: 110px;
	margin: 0;
	padding: 12px 0;
	cursor: pointer;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: 0;
}

.remodal-confirm {
	color: #fff;
	background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
	background: #66bb6a;
}

.remodal-cancel {
	color: #fff;
	background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
	background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Keyframes
	 ========================================================================== */

/* Media queries
	 ========================================================================== */

/* IE8
	 ========================================================================== */

.lt-ie9 .remodal-overlay {
	background: #2b2e38;
}

.lt-ie9 .remodal {
	width: 700px;
}

body {
	min-width: 1040px;
}

body.simple {
	background-image: url(../images/dot_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}

.head-nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	min-width: 1080px;
	height: 70px;
	-webkit-transition: top 400ms cubic-bezier(.73, .29, .21, .7);
	-moz-transition: top 400ms cubic-bezier(.73, .29, .21, .7);
	-o-transition: top 400ms cubic-bezier(.73, .29, .21, .7);
	transition: top 400ms cubic-bezier(.73, .29, .21, .7);
	text-align: center;
	border-bottom: solid 1px #ccc;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .85);
}

.head-nav.up {
	top: -71px;
}

.head-nav.down {
	top: 0;
}

.head-nav ul {
	font-size: 0;
}

.head-nav ul li {
	display: inline-block;
	height: 70px;
}

.head-nav ul li a {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	white-space: nowrap;
	text-indent: 100%;
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	perspective: 300px;
}

.head-nav ul li a span {
	position: absolute;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	pointer-events: none;
	background-image: url(../images/nav.png);
}

.head-nav ul li a span.c1 {
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 50% -35px;
	-moz-transform-origin: 50% 50% -35px;
	-ms-transform-origin: 50% 50% -35px;
	-o-transform-origin: 50% 50% -35px;
	transform-origin: 50% 50% -35px;
	opacity: 0;
	background-position: 0 -70px;
}

.head-nav ul li a span.c2 {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -35px;
	-moz-transform-origin: 50% 50% -35px;
	-ms-transform-origin: 50% 50% -35px;
	-o-transform-origin: 50% 50% -35px;
	transform-origin: 50% 50% -35px;
}

.head-nav ul li a.active span.c1,
.head-nav ul li a:hover span.c1 {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}

.head-nav ul li a.active span.c2,
.head-nav ul li a:hover span.c2 {
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
}

.head-nav ul li.n1 {
	width: 127px;
}

.head-nav ul li.n1 .c1 {
	background-position: 0 -70px;
}

.head-nav ul li.n1 .c2 {
	background-position: 0 0;
}

.head-nav ul li.n2 {
	width: 193px;
}

.head-nav ul li.n2 .c1 {
	background-position: -127px -70px;
}

.head-nav ul li.n2 .c2 {
	background-position: -127px 0;
}

.head-nav ul li.n3 {
	width: 130px;
}

.head-nav ul li.n3 .c1 {
	background-position: -320px -70px;
}

.head-nav ul li.n3 .c2 {
	background-position: -320px 0;
}

.head-nav ul li.n4 {
	width: 166px;
}

.head-nav ul li.n4 .c1 {
	background-position: -450px -70px;
}

.head-nav ul li.n4 .c2 {
	background-position: -450px 0;
}

.head-nav ul li.n5 {
	width: 127px;
}

.head-nav ul li.n5 .c1 {
	background-position: -616px -70px;
}

.head-nav ul li.n5 .c2 {
	background-position: -616px 0;
}

.head-nav ul li.n6 {
	width: 128px;
}

.head-nav ul li.n6 .c1 {
	background-position: -743px -70px;
}

.head-nav ul li.n6 .c2 {
	background-position: -743px 0;
}

.dot_area {
	position: fixed;
	top: 0;
	left: 0;
}

.contents {
	padding: 120px 0 0 0;
	letter-spacing: -.04em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section .grid {
	position: relative;
	width: 1040px;
	margin: 0 auto 0 auto;
}

.section .section_name {
	font-size: 22px;
	position: absolute;
	top: 0;
	left: 0;
}

.section .section_name.letter:before {
	position: absolute;
	top: -45px;
	left: 0;
	width: 22px;
	height: 4px;
	content: ' ';
	background: #000;
}

.section_exhibitionof {
	margin: 0 0 140px 0;
}

.section_exhibitionof .grid {
	padding: 105px 0 0 0;
}

.section_exhibitionof .section_inner {
	position: relative;
}

.section_exhibitionof .page_logo {
	margin: 0 0 50px 0;
}

.section_exhibitionof .page_info {
	margin: 0 0 50px 0;
}

.section_exhibitionof .btn a {
	display: inline-block;
	background: url(../images/sec1_link_btn_on.png) 0 0 no-repeat;
}

.section_exhibitionof .btn a img {
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.section_exhibitionof .btn a:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.section_exhibitionof .section_title {
	position: absolute;
	top: 0;
	right: 0;
}

.section_exhibitionof .section_desc {
	position: absolute;
	top: 0;
	right: 130px;
}

.section_concept {
	margin: 0 0 110px 0;
}

.section_concept .section_inner {
	margin: 0 0 0 355px;
}

.section_concept .section_title {
	font-size: 32px;
	line-height: 1.5;
	margin: 0 0 30px 0;
}

.section_concept .section_desc {
	font-size: 18px;
	line-height: 1.88;
}

.section_eventschedule {
	margin: 0 0 110px 0;
}

.section_eventschedule > .grid {
	padding: 0 0 60px 0;
}

.section_eventschedule .section_inner {
	position: relative;
	background: #fff;
	background-color: rgba(255, 255, 255, .95);
}

.section_eventschedule .toggle_block {
	position: relative;
	overflow: hidden;
	height: 107px;
	-webkit-transition: height 400ms ease-out;
	-moz-transition: height 400ms ease-out;
	-o-transition: height 400ms ease-out;
	transition: height 400ms ease-out;
	border-bottom: 1px solid #fff;
}

.section_eventschedule .toggle_block .label_block {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 107px;
	cursor: pointer;
	-webkit-transition: top 300ms ease-out;
	-moz-transition: top 300ms ease-out;
	-o-transition: top 300ms ease-out;
	transition: top 300ms ease-out;
	color: #fff;
	background: #f00;
}

.section_eventschedule .toggle_block .label_block .grid {
	height: 107px;
}

.section_eventschedule .toggle_block .label_block .grid:before {
	display: inline-block;
	width: 0;
	height: 100%;
	content: ' ';
	vertical-align: middle;
}

.section_eventschedule .toggle_block .label_block .column {
	display: inline-block;
	vertical-align: middle;
}

.section_eventschedule .toggle_block .label_block .column1 {
	width: 355px;
}

.section_eventschedule .toggle_block .label_block .column1 .label_title {
	font-size: 20px;
	margin: 0 0 10px 0;
}

.section_eventschedule .toggle_block .label_block .column1 .label_info {
	font-size: 12px;
	line-height: 1.8;
}

.section_eventschedule .toggle_block .label_block .column2 {
	width: 180px;
}

.section_eventschedule .toggle_block .label_block .column2 .label_subtitle {
	font-size: 22px;
}

.section_eventschedule .toggle_block .detail_block .grid {
	zoom: 1;
	padding: 33px 0 45px 0;
}

.section_eventschedule .toggle_block .detail_block .grid:after {
	display: block;
	clear: both;
	content: '';
}

.section_eventschedule .toggle_block .detail_block .info_block {
	float: left;
	width: 327px;
}

.section_eventschedule .toggle_block .detail_block .info_block .detail_title {
	font-size: 25px;
	line-height: 1.3;
	margin: 0 0 36px 0;
	color: #f00;
}

.section_eventschedule .toggle_block .detail_block .info_block .detail_title .txt {
	display: inline-block;
	width: 245px;
	vertical-align: middle;
}

.section_eventschedule .toggle_block .detail_block .info_block .detail_title .icon {
	display: inline-block;
	vertical-align: middle;
}

.section_eventschedule .toggle_block .detail_block .info_block dl {
	line-height: 1.45;
}

.section_eventschedule .toggle_block .detail_block .info_block dt {
	font-size: 12px;
	margin: 0 0 3px 0;
}

.section_eventschedule .toggle_block .detail_block .info_block dd {
	margin: 0 0 25px 0;
}

.section_eventschedule .toggle_block .detail_block .info_block dd .txt {
	font-size: 16px;
}

.section_eventschedule .toggle_block .detail_block .info_block dd .subtxt {
	font-size: 12px;
}

.section_eventschedule .toggle_block .detail_block .info_block .link-btn a {
	display: inline-block;
	background: url(../images/sec_eventschedule_detail_btn_on.png) 0 0 no-repeat;
}

.section_eventschedule .toggle_block .detail_block .info_block .link-btn a img {
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.section_eventschedule .toggle_block .detail_block .info_block .link-btn a:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.section_eventschedule .toggle_block .detail_block .content_block {
	float: right;
	width: 683px;
}

.section_eventschedule .toggle_block .toggle_btn {
	position: absolute;
	z-index: 1;
	top: 34px;
	right: 25px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	background: url(../images/sec_eventschedule_toggle_btn_off.png) 0 0 no-repeat;
}

.section_eventschedule .toggle_block .toggle_btn img {
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.section_eventschedule .toggle_block1 {
	height: 125px;
}

.section_eventschedule .toggle_block1 .label_block {
	height: 125px;
}

.section_eventschedule .toggle_block1 .label_block .grid {
	height: 125px;
}

.section_eventschedule .toggle_block1 .toggle_btn {
	top: 42px;
}

.section_eventschedule .toggle_block1 .detail_block .content_block {
	zoom: 1;
}

.section_eventschedule .toggle_block1 .detail_block .content_block:after {
	display: block;
	clear: both;
	content: '';
}

.section_eventschedule .toggle_block1 .detail_block .content_block .photo {
	margin: 0 0 35px 0;
}

.section_eventschedule .toggle_block1 .detail_block .content_block .txt_left {
	font-size: 15px;
	line-height: 1.8;
	float: left;
	width: 326px;
	letter-spacing: -.1em;
}

.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right {
	font-size: 13px;
	line-height: 1.7;
	float: right;
	width: 340px;
}

.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right ul {
	list-style: none;
}

.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right li {
	margin: 0 0 0 1em;
	text-indent: -1em;
}

.section_eventschedule .toggle_block1 .detail_block .content_block .txt_right .ta-r {
	text-align: right;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block3 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block4 .detail_block .content_block .time_schedule,
.section_eventschedule .toggle_block5 .detail_block .content_block .time_schedule {
	font-size: 16px;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	list-style: none;
	border-bottom: 1px solid #bbb;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .time_schedule li,
.section_eventschedule .toggle_block3 .detail_block .content_block .time_schedule li,
.section_eventschedule .toggle_block4 .detail_block .content_block .time_schedule li,
.section_eventschedule .toggle_block5 .detail_block .content_block .time_schedule li {
	margin: 0 0 8px 0;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .time_schedule span.date,
.section_eventschedule .toggle_block3 .detail_block .content_block .time_schedule span.date,
.section_eventschedule .toggle_block4 .detail_block .content_block .time_schedule span.date,
.section_eventschedule .toggle_block5 .detail_block .content_block .time_schedule span.date {
	line-height: 1.4;
	display: inline-block;
	width: 115px;
	vertical-align: top;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .time_schedule span.desc,
.section_eventschedule .toggle_block3 .detail_block .content_block .time_schedule span.desc,
.section_eventschedule .toggle_block4 .detail_block .content_block .time_schedule span.desc,
.section_eventschedule .toggle_block5 .detail_block .content_block .time_schedule span.desc {
	line-height: 1.4;
	display: inline-block;
	width: 555px;
	vertical-align: top;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block3 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block4 .detail_block .content_block .desc_txt,
.section_eventschedule .toggle_block5 .detail_block .content_block .desc_txt {
	font-size: 16px;
	line-height: 1.8;
	margin: 0 0 30px 0;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block_title,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block_title {
	font-size: 14px;
	margin: 0 0 16px 0;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photos_block,
.section_eventschedule .toggle_block3 .detail_block .content_block .photos_block,
.section_eventschedule .toggle_block4 .detail_block .content_block .photos_block,
.section_eventschedule .toggle_block5 .detail_block .content_block .photos_block {
	font-size: 0;
	overflow: hidden;
	width: 715px;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block {
	display: inline-block;
	width: 148px;
	margin: 0 30px 0 0;
	list-style: none;
	vertical-align: top;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .photo,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .photo,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .photo,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .photo {
	margin: 0 0 0 0;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .photo img,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .photo img,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .photo img,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .photo img {
	width: 148px;
	height: 148px;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .txt,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .txt {
	margin: 0 0 40px 0;
	padding: 12px 0 0 0;
	text-align: center;
	border-sizing: border-box;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .txt .name,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .txt .name,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .txt .name,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .txt .name {
	font-size: 16px;
	margin: 0 0 4px 0;
}

.section_eventschedule .toggle_block2 .detail_block .content_block .photo_block .txt .about,
.section_eventschedule .toggle_block3 .detail_block .content_block .photo_block .txt .about,
.section_eventschedule .toggle_block4 .detail_block .content_block .photo_block .txt .about,
.section_eventschedule .toggle_block5 .detail_block .content_block .photo_block .txt .about {
	font-size: 12px;
	line-height: 1.4;
	letter-spacing: -.1em;
}

.section_eventschedule .toggle_block5 .detail_block:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	content: ' ';
	background: #f00;
}

.section_eventschedule .toggle_block.disp .label_block {
	top: -99px;
	cursor: default;
}

.section_eventschedule .toggle_block.disp .toggle_btn {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.section_eventschedule .toggle_block.disp .toggle_btn img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.section_eventschedule .toggle_block1.disp {
	height: 730px;
}

.section_eventschedule .toggle_block1.disp .label_block {
	top: -117px;
	cursor: default;
}

.section_eventschedule .toggle_block2.disp {
	height: 1583px;
}

.section_eventschedule .toggle_block3.disp {
	height: 1243px;
}

.section_eventschedule .toggle_block4.disp {
	height: 3537px;
}

.section_eventschedule .toggle_block5.disp {
	height: 957px;
}

.section_message {
	margin: 0 0 110px 0;
}

.section_message > .grid {
	padding: 0 0 60px 0;
}

.section_message .section_inner {
	position: relative;
}

.section_information {
	margin: 0 0 100px 0;
}

.section_information .section_inner {
	margin: 0 0 0 355px;
}

.section_information dl {
	line-height: 1.5;
	zoom: 1;
	border-bottom: 1px solid #000;
}

.section_information dl:after {
	display: block;
	clear: both;
	content: '';
}

.section_information dt {
	font-size: 12px;
	float: left;
	width: 100px;
	padding: 16px 0 16px 0;
	border-top: 1px solid #000;
}

.section_information dt:first-child,
.section_information dt:first-child + dd {
	border-top: none;
}

.section_information dd {
	float: left;
	width: 585px;
	padding: 16px 0 16px 0;
	border-top: 1px solid #000;
}

.section_information dd ul {
	list-style: none;
}

.section_information dd li {
	margin: 0 0 0 -.4em;
}

.section_information dd .txt {
	font-size: 16px;
}

.section_information dd .subtxt {
	font-size: 12px;
}

.section_ourteam {
	margin: 0 0 70px 0;
}

.section_ourteam .grid {
	padding: 50px 0 0 0;
}

.section_ourteam .section_inner {
	zoom: 1;
	margin: 0 0 0 355px;
}

.section_ourteam .section_inner:after {
	display: block;
	clear: both;
	content: '';
}

.section_ourteam ul {
	float: right;
	width: 300px;
	list-style: none;
}

.section_ourteam ul:first-child {
	float: left;
	width: 380px;
}

.section_ourteam li {
	font-size: 16px;
	line-height: 1.4;
	margin: 0 0 8px 0;
}

.section_ourteam li.al-r {
	text-align: right;
}

.section_ourteam .sub_txt {
	font-size: 14px;
	clear: both;
	zoom: 1;
	padding: 10px 0 0 0;
}

.section_ourteam .sub_txt:after {
	display: block;
	clear: both;
	content: '';
}

.section_ourteam .sub_txt .left {
	float: left;
	width: 40%;
}

.section_ourteam .sub_txt .right {
	float: right;
	width: 40%;
	text-align: right;
}

.section_access {
	margin: 0 0 110px 0;
}

.section_access .grid {
	padding: 0 0 50px 0;
}

.section_access .section_inner {
	position: relative;
}

.section_access .googlemap {
	height: 468px;
}

.section_access .info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1040px;
	height: 180px;
	margin: auto;
	pointer-events: none;
	color: #f00;
}

.section_access .info .info_title {
	font-size: 14px;
	margin: 0 0 15px 0;
}

.section_access .info .info_address {
	font-size: 48px;
	line-height: 1.15;
}

.section.section_contact,
.section.section_forpress {
	margin: 0 0 80px 0;
}

.section.section_contact .section_inner,
.section.section_forpress .section_inner {
	margin: 0 0 0 535px;
}

.section.section_contact .section_title,
.section.section_forpress .section_title {
	font-size: 16px;
	margin: 0 0 22px 0;
}

.section.section_contact ul,
.section.section_forpress ul {
	list-style: none;
}

.section.section_contact li,
.section.section_forpress li {
	font-size: 14px;
	line-height: 1.6;
	margin: 0 0 22px 0;
}

.section.section_contact li .m_btn,
.section.section_forpress li .m_btn {
	display: inline-block;
	cursor: pointer;
	background: url(../images/sec_forpress_m_btn_on.png) 0 0 no-repeat;
}

.section.section_contact li .m_btn:hover,
.section.section_forpress li .m_btn:hover {
	background: url(../images/sec_forpress_m_btn_on.png) 0 35px no-repeat;
}

.section.section_contact li .l_btn,
.section.section_forpress li .l_btn {
	display: inline-block;
	background: url(../images/sec_forpress_link_btn_on.png) 0 0 no-repeat;
}

.section.section_contact li .l_btn img,
.section.section_forpress li .l_btn img {
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.section.section_contact li .l_btn:hover img,
.section.section_forpress li .l_btn:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.section.section_forpress {
	margin: 0 0 100px 0;
}

.footer {
	position: relative;
	padding: 50px 0 50px 0;
	text-align: center;
	background: #f00;
}

.footer .totop {
	position: fixed;
	z-index: 1;
	right: 40px;
	bottom: -50px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	-webkit-transition: bottom 200ms ease-in;
	-moz-transition: bottom 200ms ease-in;
	-o-transition: bottom 200ms ease-in;
	transition: bottom 200ms ease-in;
}

.footer .totop .circle {
	display: block;
	overflow: hidden;
	width: 50px;
	height: 50px;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #fff;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
	-moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

.footer .totop img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 15px;
	margin: auto;
}

.footer .totop.disp {
	bottom: 40px;
}

.footer .totop:hover .circle {
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.footer .sns_btns {
	font-size: 0;
	margin: 0 0 28px 0;
}

.footer .sns_btn {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 10px 0 10px;
}

.footer .sns_btn a {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.footer .sns_btn .circle {
	display: block;
	overflow: hidden;
	width: 80px;
	height: 80px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background: #fff;
}

.footer .sns_btn img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 31px;
	margin: auto;
}

.footer .sns_btn:hover .circle {
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}

.footer .copy {
	font-size: 12px;
	line-height: 1.8;
	color: #fff;
}

#modal-area {
	width: 770px;
	text-align: left;
}

#modal-area .thumb-block {
	float: left;
	width: 142px;
}

#modal-area .txt-block {
	float: right;
	width: 470px;
}

#modal-area .txt-block .name {
	margin: 0 0 5px 0;
}

#modal-area .txt-block .type {
	margin: 0 0 20px 0;
}

@-webkit-keyframes remodal-opening-keyframes {

from {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 0;
}

to {
	-webkit-transform: none;
	transform: none;
	opacity: 1;
}

}

@-moz-keyframes remodal-opening-keyframes {

from {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 0;
}

to {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	opacity: 1;
}

}

@-o-keyframes remodal-opening-keyframes {

from {
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 0;
}

to {
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
}

}

@keyframes remodal-opening-keyframes {

from {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 0;
}

to {
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
}

}

@-webkit-keyframes remodal-closing-keyframes {

from {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

to {
	-webkit-transform: scale(.95);
	transform: scale(.95);
	opacity: 0;
}

}

@-moz-keyframes remodal-closing-keyframes {

from {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

to {
	-webkit-transform: scale(.95);
	-moz-transform: scale(.95);
	transform: scale(.95);
	opacity: 0;
}

}

@-o-keyframes remodal-closing-keyframes {

from {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

to {
	-webkit-transform: scale(.95);
	-o-transform: scale(.95);
	transform: scale(.95);
	opacity: 0;
}

}

@keyframes remodal-closing-keyframes {

from {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

to {
	-webkit-transform: scale(.95);
	-moz-transform: scale(.95);
	-o-transform: scale(.95);
	transform: scale(.95);
	opacity: 0;
}

}

@-webkit-keyframes remodal-overlay-opening-keyframes {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-moz-keyframes remodal-overlay-opening-keyframes {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-o-keyframes remodal-overlay-opening-keyframes {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes remodal-overlay-opening-keyframes {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes remodal-overlay-closing-keyframes {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@-moz-keyframes remodal-overlay-closing-keyframes {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@-o-keyframes remodal-overlay-closing-keyframes {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@keyframes remodal-overlay-closing-keyframes {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

